*{
    padding: 0;
    margin: 0;
}
.image{
    margin-top: 10vh;
    background-image:url(./mac.jpg);
    width: 100%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.mac{
    background-color: black;
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    opacity: 0.7;
}
.Start{
    margin-left: 80px;
    color: white;
}
.Start h1{
    padding-top: 200px;
    font-size: 350%;
}
.Start h3{
    margin-top: 50px;
    font-size: 120%;
}
.Start button{
    cursor: pointer;
    margin-top: 5vh;
    height: 5vh;
    width: 15%;
}
.icons{
    margin-top: 35vh;
  }
  .koma{
    margin-top: 10vh;
    margin-left: 70vh;
  }
  .koma h3{
    margin-top: 20px;
    margin-left: 9vh;
  }
  .main2{
    margin-left: 15vh;
    margin-top: 10vh;
   display: flex;
   justify-content: space-around;
}
.icons2 i{
      font-size: 300%;
  }
  .icons2 h2{
    margin-top: 5vh;
    margin-left: -30px;
  }
  .icons2 p{
    /* font-weight: bold; */
    margin-top: 5vh;
    margin-left: -15vh;
    text-align: center;
  }
